 /* Apply to urls matching the regexp: ^https:\/\/boardgamearena\.com\/\d+\/farkle(\?.*)?$ */

:root {
    /* Copy and paste the name from the dice; for example copy paste "--dice-multi_dots-black" then
    put it in the var in ".dice_1" directly below this */
    --dice-multi_dots-black: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/black-multi.webp");
    --dice-cyan: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/cyan.jpg");
    --dice-cyan_dots-black: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/cyan-black.webp");
    --dice-purple: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/purple.jpg");
    --dice-purple_dots-black: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/purple-black.webp");
    --dice-red: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/red.webp");
    --dice-red_dots-black: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/red-black.webp");
    --dice-white: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/white.webp");
    --dice-white_dots-black: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/white-black.webp");
/*     --dice-metal: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/metal.webp"); */
    --dice-metal: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/metal2.png");
    --dice-poke: url("https://raw.githubusercontent.com/C-Lee-Hamilton/Website-Themes/refs/heads/main/dice/pokedice.png");
    /* Below this line is just where I stored data for the floating/flying pokemon, I have a Duskull and Gastly by default,
       Take these variable names like above; example copy paste "--pkmn-duskull" into ".bgagame-farkle::after" or ".bgagame-farkle::before",
       they are towards the bottom. If you do change pokemon, I suggest also changing the pokemon's glow color to match.
       its labeled under where you put the pokemon url.
    */
    --pkmn-duskull: url("https://i.pinimg.com/originals/4b/4f/a1/4b4fa16fff0d9782b6e53db976f89f78.gif");
    --pkmn-gastly: url("https://play.pokemonshowdown.com/sprites/ani/gastly.gif");
    --pkmn-misdreavus: url("https://play.pokemonshowdown.com/sprites/ani/misdreavus.gif");
    --pkmn-mew: url("https://play.pokemonshowdown.com/sprites/ani/mew.gif");
    --pkmn-rotom: url("https://play.pokemonshowdown.com/sprites/ani/rotom.gif");
    --pkmn-butterfree: url("https://play.pokemonshowdown.com/sprites/ani/butterfree.gif");
    --pkmn-phantump: url("https://play.pokemonshowdown.com/sprites/ani/phantump.gif");
    --pkmn-jirachi: url("https://play.pokemonshowdown.com/sprites/ani/jirachi.gif");
    --pkmn-cosmog: url("https://play.pokemonshowdown.com/sprites/ani/cosmog.gif");
    /* You can add more pokemon, just copy paste one of the ones above and change the info and name,
       make sure the gif is initially facing left, link to all the pokemon gifs below:
       https://play.pokemonshowdown.com/sprites/ani/
       just click a gif and copy the url */
}
/* ==============================↓↓ New ↓↓=============================== */
/* dont forget the metal dice above */
#page-title { background: linear-gradient(180deg, #5d00f4, black) !important;}
.player-board {
    background: linear-gradient(180deg, black, cyan);
    border: 2px solid #5d00f4;
}
.dicespace:hover{cursor:pointer;}
.dicespace.dice_margin.unselectable .dicespace {
    cursor: not-allowed !important;
}
#scored_dice_slot_0, #scored_dice_slot_1,#scored_dice_slot_2,#scored_dice_slot_3,#scored_dice_slot_4,#scored_dice_slot_5 {cursor: default !important;}


/* ======================================================================================  */

.dice_1 {
    /* ======================================================================================
==============================↓↓ CHANGE DICE HERE ↓↓===============================
====================================================================================== */
    background-image: var(--dice-poke) !important;
}
.dice_wrap {
    min-width: 510px!important;
}
.dice_margin {
    margin: 5px!important;
}
.dice_margin.selected_dice {
    border: none;
}
.dice_margin.selected_dice .dice_1 {
    border: 2px solid red;
    margin: 5px!important;
    translate: -7px -5px;
}
body {
    font-family: monospace;
    position: relative !important;
}
html {
    background: url(https://i.pinimg.com/originals/fd/a6/ad/fda6ad96433b7792a14621ba3bd97c40.gif) !important;
    font-family: monospace !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative !important;
    z-index: -1;
}

#topbar {
    background: linear-gradient(180deg, #5d00f4, black);
    border-top: 2px solid #5d00f4;
    border-bottom: 2px solid #5d00f4;
    background-size: cover !important;
}
.current_player_is_active #page-title {
    background: linear-gradient(180deg, #5d00f4, black);
    color: grey !important;
}

.pageheader {
    background: linear-gradient(180deg, black, #5d00f4);
    color: lightgrey !important;
    border: 2px solid #5d00f4;
    border-radius: 5px;
}
.textalign{color:red!important}
.log_replayable {
    border-radius: 5px;
}
.roundedbox {
    border-radius: 5px;
    background: linear-gradient(180deg, #009393, cyan, cyan);
    border: 2px solid #5d00f4;
}
.pagesection {
    background-color: #31047b;
    color: lightgrey !important;
    opacity: 90%;
}
.pagesection h2 {
    background: linear-gradient(0deg, #5d00f4, black);
    border: 2px solid #5d00f4;
    color: lightgrey !important;
}
.bgabutton_gray {
    color: grey !important;
    border-color: grey !important;
}
.pageheader_menuitem {
    color: cyan !important;
}
#reflexiontimevalues {
    color: cyan !important;
}
#pagemaintitletext .playername {
    color: cyan !important;
}

.bgabutton_blue,
.bgabutton_red {
    border: 2px solid cyan !important;
    border-radius: 5px;
    background-color: black !important;
}
.bgabutton_red {
    color: cyan;
}


/* ======================================================================================
==============================↓↓ CHANGE POKEMON HERE ↓↓===============================
====================================================================================== */

.bgagame-farkle::after {
    content: "";
    position: absolute !important;
    width: 100px;
    height: 100px;
    /* First floating/flying pokemon goes right below this line, just replace the "--pkmn-duskull" with whichever one you chose above */
    background: var(--pkmn-jirachi) no-repeat center;
    background-size: contain;
    opacity: 0;
    animation: ghostFloat 30s infinite;
    animation-fill-mode: both;
    z-index: -1;
    /* You can change the outline color here, just remove "red" and type in a color or click the red square for a color picker */
    filter: drop-shadow(0 0 2px cyan);
}

.bgagame-farkle::before {
    content: "";
    position: absolute !important;
    width: 100px;
    height: 100px;
    /* Second floating/flying pokemon goes right below this line, just replace the "--pkmn-gastly" with whichever one you chose above */
    background: var(--pkmn-mew) no-repeat center;
    background-size: contain;
    opacity: 0;
    animation: ghostFloat2 30s infinite;
    animation-fill-mode: both;
    z-index: -1;
    /* You can change the outline color here, just remove "#5d00f4" and type in a color or click the purple square for a color picker */
    filter: drop-shadow(0 0 2px #5d00f4);
}








@keyframes ghostFloat {
    0% {
        opacity: 0;
        transform: translate(10vw, 10vh) scaleX(-0.5);
    }
    10% {
        opacity: 1;
        transform: translate(30vw, 30vh) scaleX(-0.7);
    }
    20% {
        opacity: 0.8;
        transform: translate(50vw, 50vh) scaleX(-1);
    }
    30% {
        opacity: 0.6;
        transform: translate(80vw, 40vh) scaleX(-1.2);
    }
    40% {
        opacity: 0.4;
        transform: translate(100vw, 20vh) scaleX(-1.3);
    }
    50% {
        opacity: 0;
        transform: translate(80vw, 30vh) scale(1.4);
    }
    60% {
        opacity: 1;
        transform: translate(50vw, 50vh) scale(1.2);
    }
    70% {
        opacity: 0.8;
        transform: translate(30vw, 70vh) scale(1);
    }
    80% {
        opacity: 0.6;
        transform: translate(10vw, 60vh) scale(0.8);
    }
    90% {
        opacity: 0.4;
        transform: translate(-10vw, 40vh) scaleX(-0.6);
    }
    100% {
        opacity: 0;
        transform: translate(10vw, 10vh) scaleX(-0.5);
    }
}
@keyframes ghostFloat2 {
    0% {
        opacity: 0;
        transform: translate(80vw, 90vh) scaleX(0.5);
    }
    10% {
        opacity: 1;
        transform: translate(60vw, 70vh) scaleX(0.7);
    }
    20% {
        opacity: 0.8;
        transform: translate(40vw, 60vh) scaleX(1);
    }
    30% {
        opacity: 0.6;
        transform: translate(20vw, 30vh) scaleX(1.2);
    }
    40% {
        opacity: 0.4;
        transform: translate(0vw, 10vh) scaleX(1.3);
    }
    50% {
        opacity: 0;
        transform: translate(20vw, 20vh) scaleX(-1.4);
    }
    60% {
        opacity: 1;
        transform: translate(40vw, 30vh) scaleX(-1.2);
    }
    70% {
        opacity: 0.8;
        transform: translate(60vw, 50vh) scaleX(-1);
    }
    80% {
        opacity: 0.6;
        transform: translate(80vw, 60vh) scaleX(-0.8);
    }
    90% {
        opacity: 0.4;
        transform: translate(100vw, 80vh) scaleX(-0.6);
    }
    100% {
        opacity: 0;
        transform: translate(80vw, 90vh) scaleX(0.5);
    }
}
